<!doctype html>
<html lang="en" ng-app="gitHired">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/gitHiredController.js"></script>
    <script src="js/controllers/gitHubDataController.js"></script>
    <script src="js/services/gitHubDataService.js"></script>
    <script src="js/factories/userDataFactory.js"></script>
    <script src="js/services/userDataService.js"></script>
    <title>Git Hired</title>
  </head>
  <body>
    <div id="users" ng-controller="gitHubDataController as controller">
      <input id="searchUser" ng-model="searchUserText" placeholder="who are you looking for?"></input>
      <button id="submitSearch" ng-click="controller.searchUser(searchUserText)">Search</button>
      <p ng-repeat="user in controller.users track by $index">
        <span class="login">{{user.login}}</span>
        <span class="followers">{{user.followers}}</span>
        <span class="repos">{{user.repos}}</span>
        <img class="avatar" src="{{user.avatar}}" alt="{{user.login}}">
      </p>
    </div>
  </body>
</html>
